.buttoncontainer{
       display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.Button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}


.Button button{
    
    height: 50px;
    width: 50px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
    
    color: white;
    cursor: pointer;
}
